{% set page = { title: 'Home', header: 'default', alert: false, alertOverlay: false } %}

{% extends "templates/default.html" %}

{% block body %}
<main id="main-content">
  {% include "modules/hero-tall.html" %}
  <div class="block block--blue block--clip-tl-br block--tight" style="margin-top:-48px;">
    <h2 class="text-center heading--flush">At Kentucky State Fire Commission</h2>
    <div class="block__container">
      {% include "modules/tabs-alt.html" %}
    </div>
  </div>
  <div class="block" id="block-tabs">
    <div class="block__container">
      <h3 class="text-center">Quick Links</h3>
      <div class="grid">
        {% for i in [0, 1, 2] %}
        {% include "modules/card-large.html" %}
        {% endfor %}
      </div>
      <h3 class="text-center">Explore Resources</h3>
      {% include "modules/tabs.html" %}
    </div>
  </div>
  
 
  
  {% include "modules/hslider-split.html" %}
  

  

  
  {% include "modules/hslider-cta.html" %}
  
  {% include "modules/split-flip.html" %}
  
  
  
  {% include "modules/banner.html" %}
  
  
</main>
{% endblock %}
