{% set page = { title: 'Index' } %}

{% extends "templates/default.html" %}

{% block body %}

<main class="main" id="main-content">
  <div class="main__content">
    <h3>KCTCS Template Suite</h3>
    <ul>
      <li><a href="universal.html">Universal</a></li>
      <li><a href="program.html">Program</a></li>
      <li><a href="gateway.html">Gateway</a></li>
      <li><a href="landing.html">Landing</a></li>
      <li><a href="home.html">Home</a></li>
      <li><a href="home-redesign.html">Home Page Analysis Redesign</a></li>
      <li><a href="program-finder.html">Program Finder</a></li>
      <li><a href="program-finder-global.html">Program Finder Global</a></li>
    </ul>
  </div>
</main>

{% endblock %}
