{% set page = { 
  title: 'Program Finder Global', 
  header: 'transparent',
  global: true
} %}

{% extends "templates/default.html" %}

{% block body %}
<main id="main-content">
  {% include "modules/hero.html" %}
  
  {% include "modules/page-title-alt.html" %}
  
  {% include "modules/breadcrumbs-simple.html" %}
  
  <div class="block block--transparent">
    <div class="block__container block__container--narrow">
      <h2 class="text-center">Deserunt maxime, commodi!</h2>
      <p class="text-intro">Tenetur beatae ipsa veritatis sit, iure enim deleniti voluptatem aspernatur maxime quasi asperiores, voluptates veniam animi fugiat mollitia. Recusandae aliquid nam ratione voluptatibus fugiat!</p>
    </div>
  </div>
  
  {% include "modules/program-finder.html" %}
  
  <div class="block block--blue block--clip-br">
    <div class="block__container">
      <h2 class="text-center heading--tight">Need help?</h2>
      <p class="text-large text-center">Et mollitia ab aliquid, voluptatem ipsa nisi aut.</p>
      <div class="grid grid--4 grid--flush">
        {% for i in range(0, 4) %}
        {% include "modules/contact.html" %}
        {% endfor %}
      </div>
    </div>
  </div>
</main>
{% endblock %}
