{% set page = { title: 'KCTCS Stories', header: 'transparent' } %}

{% extends "templates/default.html" %}

{% block body %}
<main id="main-content">
  {% include "modules/stories/page-title-alt.html" %}

  {% include "modules/stories/hero.html" %}

  {% include "modules/breadcrumbs-simple.html" %}

  <div class="block block--transparent">
    <div class="block__container block__container--narrow">
      <h2 class="text-center">Our Stories Reveal Who We Are</h2>
      <p class="text-center">
        Stories transcend generations. They create connections with others. It is through stories
        that we experience the success of our students and power of education to improve lives.
      </p>
    </div>
  </div>

  <div class="block">
    <div class="block__container flex">
      {% include "modules/stories/two-card-video.html" %}
    </div>
  </div>

</main>

{% endblock %}
