.card__text-container {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--white);
  background-color: var(--blue);
  padding: .75rem 1.5rem;
  width: 100%;
  transition: all var(--transition);

  @media (--md) {
    opacity: 1;
    padding: 2.5rem 2rem;
  }

  @nest .card:hover > & {
    opacity: 0;
  }
}

.card__text-name {
  color: var(--gold);
  margin: 0;
}

.card__text-type {
  margin: .25rem 0 0 0;
}

.card__overlay-container {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--white);
  background-color: var(--blue-overlay-light);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1rem 1rem;
  transition: all var(--transition);
  overflow-y: auto;

  @media (--md) {
    opacity: 0;
    padding: 4rem 5rem;
  }

  @nest .card:hover > &, .card:focus > &, .card.focus-within > & {
    opacity: 1;
  }
}

.card__overlay-name {
  color: var(--gold);
  margin: 0;
}

.card__overlay-type {
  margin: 0 0 1rem;
}

.card__overlay-text {
  margin: 0 0 1rem;
}

.card__image__overlay--gold {
  color: var(--gold);
  left: 18%;
}

.card__image__overlay--text {
  position: absolute;
  top: 70%;
  left: 18%;
  max-width: 80%;
  margin: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  z-index: 1;

  @media (--sm) {
    top: 58%;
  }

  @media (--md) {
    top: 75%;
  }

  @media (--lg) {
    top: 70%;
  }

  @media (--xl) {
    top: 62.5%;
  }
}

.card__image__overlay--icon--container {
  opacity: 0;
  position: absolute;
  top: 5%;
  right: 2%;
  color: var(--white);
  background-color: var(--gold);
  border-radius: 1000px;
  height: 2rem;
  width: 2rem;
  margin: 0 0.75rem 0 0;
  z-index: 1;
  transition: opacity var(--transition);

  @media (--lg) {
    height: 3rem;
    width: 3rem;
  }

  @nest .card__image:hover > & {
    opacity: 1;
  }
}

.card__image__overlay--icon {
  height: 1.75rem;
  width: 1.75rem;
  margin: .15rem auto;

  @media(--lg) {
    height: 2.5rem;
    width: 2.5rem;
    margin: .25rem auto;
  }
}
