.clear {
  clear: both;
}

.flex {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.25rem;
}
