.grid-container {
  @mixin container;

  padding: 0;
}

.grid-container-narrow {
  max-width: 64em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 6rem -2rem;

  & > * {
    width: calc(100% - 2rem);
    margin: 2rem 0 0 2rem;

    @media (--md) {
      width: calc(50% - 2rem);
    }

    @media (--lg) {
      width: calc(33.333% - 2rem);
    }
  }
}

.grid--h-center {
  justify-content: center;
}

.grid--tight {
  margin-left: 0;

  & > * {
    width: 50%;
    margin: 0;

    @media (--md) {
      width: 33.333%;
    }
  }
}

.grid--2 {
  & > * {
    @media (--lg) {
      width: calc(50% - 2rem);
    }
  }
}

.grid--4 {
  & > * {
    @media (--lg) {
      width: calc(25% - 2rem);
    }
  }
}

.grid--flush {
  margin-bottom: 0;
}

.grid--scroll {
  flex-wrap: nowrap;
  margin-right: -2rem;
  overflow: auto;

  @media (--lg) {
    flex-wrap: wrap;
    margin-right: 0;
    overflow: visible;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    flex-shrink: 0;
    width: 1rem;

    @media (--lg) {
      display: none;
    }
  }

  & > * {
    flex-shrink: 0;
    width: 20rem;
    max-width: calc(100% - 4rem);
    margin: 2rem 1rem 0 1rem;

    @media (--lg) {
      flex-shrink: 1;
      width: calc(25% - 2rem);
      max-width: none;
      margin: 2rem 0 0 2rem;
    }
  }
}
